/dts-v1/;
#include "imx6ull.dtsi"
#include "imx6ull-aes.dtsi"

/ {
	model = "Awesome Embedded Studio IMX6ULL Example Driver";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";
	/**
	 * PS 下，可以看到我们在/下追加了一个新的LED等节点
     * 这里也是我们之后寻找LED的Path /imx_aes_led
	 */
	beep {
        // PS：下面的内容可写可不写，这其实是给总线设备的。。。
		#address-cells = <1>; 
		#size-cells = <1>; 
        // 但是出于尊重之前的正点的教程，这里留下，但是要反复强调可以删除

		compatible = "imxaes_beep";
        
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_beep>; 

		status = "okay";
        // 这里是我们的GPIO，属性是自定义的，
        // 虽然实际上更标准的做法是gpios
		beep-gpio = <&gpio5 1 GPIO_ACTIVE_HIGH>;
	};
};

&iomuxc {
    // 使用pinctrl子系统添加的LED节点驱动
    // &iomuxc        : 引用追加语法，必须这样写
    // pinctrl_beep: 标签(label)，供其他节点引用 pinctrl-0 = <&pinctrl_beep>
    // beep_grp        : 节点名，命名可自由选择
    // fsl,pins       : NXP i.MX pinctrl绑定定义的必需属性名
    // fsl, pins等是IMX SOC系列的关键字，不是通用的，这说明的是
    pinctrl_beep: beep_grp {
        fsl,pins = <
            MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01    0x10B0
        >;
    };
};